#pragma code_page(65001)
#include <windows.h>
#include "resource.h"

IDD_DSP_BASS DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "变速变调配置"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,130,120,50,14
    PUSHBUTTON      "取消",IDCANCEL,190,120,50,14
    LTEXT           "音高 (半音):",IDC_STATIC,10,10,100,10
    CONTROL         "",IDC_PITCH,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,10,25,180,20
    LTEXT           "0.0",IDC_PITCH_LABEL,200,25,40,10
    
    LTEXT           "速度 (百分比 %):",IDC_STATIC,10,60,100,10
    CONTROL         "",IDC_TEMPO,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,10,75,180,20
    LTEXT           "0%",IDC_TEMPO_LABEL,200,75,40,10
END

IDD_DSP_REVERB DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "空间混响配置"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定",IDOK,130,70,50,14
    PUSHBUTTON      "取消",IDCANCEL,190,70,50,14
    
    LTEXT           "混响强度 (DX8 Reverb %):",IDC_STATIC,10,20,100,10
    CONTROL         "",IDC_REVERB_MIX,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,10,35,180,20
    LTEXT           "30%",IDC_REVERB_MIX_LABEL,200,35,40,10
END

IDD_EXPORT_FADE DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "导出片段设置"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "确定并导出",IDOK,100,120,60,14
    PUSHBUTTON      "取消",IDCANCEL,170,120,50,14
    
    LTEXT           "淡入时长 (毫秒):",IDC_STATIC,10,20,100,10
    EDITTEXT        IDC_FADE_IN,120,18,60,14,ES_AUTOHSCROLL | ES_NUMBER
    
    LTEXT           "淡出时长 (毫秒):",IDC_STATIC,10,50,100,10
    EDITTEXT        IDC_FADE_OUT,120,48,60,14,ES_AUTOHSCROLL | ES_NUMBER
END

IDD_GLOBAL_SETTINGS DIALOGEX 0, 0, 250, 195
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "时间魔术师 - 全局设置"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "保存配置",IDOK,130,175,50,14
    PUSHBUTTON      "取消",IDCANCEL,190,175,50,14
    
    GROUPBOX        "导出片段默认设置",IDC_STATIC,5,5,240,60
    LTEXT           "默认淡入时长 (毫秒):",IDC_STATIC,15,20,100,10
    EDITTEXT        IDC_CFG_FADE_IN,120,18,60,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "默认淡出时长 (毫秒):",IDC_STATIC,15,45,100,10
    EDITTEXT        IDC_CFG_FADE_OUT,120,43,60,14,ES_AUTOHSCROLL | ES_NUMBER
    
    GROUPBOX        "睡眠定时器 (定时关闭 foobar2000)",IDC_STATIC,5,70,240,55
    CONTROL         "开启定时关闭",IDC_TIMER_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,82,100,10
    LTEXT           "关闭倒计时:",IDC_STATIC,15,102,50,10
    COMBOBOX        IDC_TIMER_MODE,70,100,60,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_TIMER_CUSTOM,140,100,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "分钟",IDC_STATIC,185,102,20,10
    
    GROUPBOX        "变速变调音质算法",IDC_STATIC,5,130,240,40
    LTEXT           "处理算法选择:",IDC_STATIC,15,147,70,10
    COMBOBOX        IDC_PITCH_ALGO,90,145,145,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,1,0
 PRODUCTVERSION 1,2,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "snokey"
            VALUE "FileDescription", "foo_pitch_tempo"
            VALUE "FileVersion", "1.2.1"
            VALUE "InternalName", "foo_pitch_tempo.dll"
            VALUE "LegalCopyright", "Copyright (C) snokey"
            VALUE "OriginalFilename", "foo_pitch_tempo.dll"
            VALUE "ProductName", "foo_pitch_tempo"
            VALUE "ProductVersion", "1.2.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
